tmp/
target/
.settings/
.project/
.idea/
.vscode/
.metadata/
build/
node/
node_tmp/
node_modules/
.gradle/
build/
classes/
out/
.sass-cache/
/.awcache/*
/.cache-loader/*
/.sts4-cache/*

.cproject
.buildpath
.classpath
.loadpath
.project
.factorypath

.externalToolBuilders/**
*.launch

*~
._*
*.iws
*.ipr
*.ids
*.orig
*.class
*.iml
*.exe
*.zip
*.jar
*.war
*.ear
*.db
*.log
*.log*
*.tmp
*.bak
*.swp
*~.nib
*.pydevproject
nb-configuration.xml
Thumbs.db
ehthumbs.db
Desktop.ini
