target/
.project/
.idea/
.vscode/
.metadata/
.classpath
.settings/
build/
tmp/
/nb-configuration.xml
Thumbs.db
ehthumbs.db
.loadpath
*.class
*.iml
*.exe
*.zip
*.jar
*.war
*.ear
*.bak
*.log
*~