tmp/
tmp/**/*
/log/
/target/
target/
.settings/
.project/
.idea/
.vscode/
.metadata/
build/
/node/
node_tmp/
node_modules/
.gradle/
/build/
classes/
out/
.sass-cache/
/nb-configuration.xml

.classpath
.loadpath
.project
.factorypath

*~
._*
*.iws
*.ipr
*.ids
*.orig
*.class
*.iml
*.exe
*.zip
*.jar
*.war
*.ear
*.db
*.log
*.log*
*.tmp
*.bak
*.swp
*~.nib
*.pydevproject
local.properties
Thumbs.db
ehthumbs.db
Desktop.ini

npm-debug.log.*
/.awcache/*
/.cache-loader/*
/.sts4-cache/*
.externalToolBuilders/**
*.launch
.cproject
.buildpath
